<!--possibly make productype a string enum, loop through it here and display the name for each tab -->
<mat-tab-group [animationDuration]='0' (selectedTabChange)="showProduct($event)">
    <mat-tab label="Lawnmowers">
        
    </mat-tab>
    <mat-tab label="Phone Cases">
            
    </mat-tab>
    <mat-tab label="T-Shirts">
            
    </mat-tab>
  </mat-tab-group>
<!-- 
<button (click)="showProduct(product.Lawnmower)">Lawnmowers</button>
<button (click)="showProduct(product.PhoneCase)">Phone Cases</button>
<button (click)="showProduct(product.TShirt)">T-Shirts</button>
<app-product-detail></app-product-detail> -->
        <app-product-detail></app-product-detail>
